#schoolname{
    font-size: 16px;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
}
#slide{
    width: 100%;
    background-color:  skyblue;
}
#video{
    margin-top: 10px;
}
#schoolmap{
    width: 100%;
}